# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Matt Sears
email: matt@mattsears.com
tagline: Hello! This is the personal website and blog of Matt Sears
description: >- # this means to ignore newlines until "baseurl:"
  I mostly write about technology and business since that's been my livelyhood for the past twenty years,
  but I also write about my other interests including music, traveling, and other random topics.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://mattsears.com" # the base hostname & protocol for your site, e.g. http://example.com
highlighter: rouge
github_username:  mattsears
excerpt_separator: <!--more-->
permalink: /articles/:year/:month/:day/:title/
paginate: 6
paginate_path: "/articles/page:num/"
logo: /assets/images/me.png

social:
  name: Matt Sears
  links:
    - https://www.linkedin.com/in/matthewsears
    - https://github.com/mattsears
    - https://instagram.com/mattsears

picture:
  # fast_build: development
  source: "assets/images/fullsize"
  output: "assets/images/generated"
  suppress_warnings: false

sass:
  style: compact # possible values: nested expanded compact compressed
  sass_dir: _sass

# Build settings
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-picture-tag

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - node_modules/
  - docs/
