---
layout: default
title: Articles
---

{% for post in paginator.posts %}
  <div class="row">
    <div class="ten column centered">
      <article>
        <header class="text-center">
          <a href='/'>
            <img src='/images/matt-sears.png' title='Matt Sears' alt='Matt Sears' width='100' height='100' class="me">
          </a>
          <h2>
            <a href="/{{ post.url }}">{{ post.title }}</a>
          </h2>
          <h5>
            Written by <a href="#">Matt</a> on {{ post.date | date: "%B %e, %Y" }}
          </h5>
        </header>
        <div class="row">
          <div class="ten column centered">
            {{ post.content }}
          </div>
        </div>
      </article>
    </div>
  </div>
{% endfor %}

<div class="row ten columns centered paginator">
  <div class="row three columns">
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}">← Older posts</a>
    {% endif %}
  </div>
  <div class="row three columns text-right">
    {% if paginator.previous_page == 1 %}
      <a href="/articles.html">Newer posts →</a>
    {% elsif paginator.previous_page %}
      <a href="/page{{paginator.previous_page}}">Newer posts →</a>
    {% endif %}
  </div>
</div>
