---
layout: default
title: Hello
---

%section.introduction
  .row
    .six.columns.centered
      %header.text-center
        %a{href: '/'}
          %img{src: "/images/matt-sears.png", width: '100', height: '100', class: 'me' }/
        %h3
          Matt Sears
        %h5
          Hi. I'm Matt. I'm a software developer in Ohio. I spend most of my days building awesome things at my company
          %a{:href => 'http://littlelines.com', :rel => 'external'}
            Littlelines

%section.socialize
  .row
    .six.columns.centered
      %h5.text-center
        ELSEWHERE

  .row.elsewhere
    .eight.columns.centered
      .row
        .two.columns.text-center
          %a{:href => "http://git.io/sears", :rel => "external"}
            %span.ss-social-circle.ss-octocat
              %div Github
        .two.columns.text-center
          %a{:href => "http://www.facebook.com/mattsears.me", :rel => "external"}
            %span.ss-social-circle.ss-facebook
              %div Facebook
        .two.columns.text-center
          %a{:href => "https://twitter.com/mattsears", :rel => "external"}
            %span.ss-social-circle.ss-twitter
              %div Twitter
        .two.columns.text-center
          %a{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external"}
            %span.ss-social-circle.ss-linkedin
              %div LinkedIn
        .two.columns.text-center
          %a{:href => "http://mattsears.tumblr.com", :rel => "external"}
            %span.ss-social-circle.ss-tumblr
              %div Tumblr
        .two.columns.text-center
          %a{:href => "mailto:matt@mattsears.com"}
            %span.ss-social-circle.ss-mail
              %div Email
