---
layout: default
title: ''
---

<div class="mt-16 sm:px-8 ">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="max-w-2xl">
          <h1
            class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
            Entrepreneur, artist, designer, haberdasher.
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            Life is an adventure. My adventure has been mostly in technology,
            leadership, art, and business for over twenty years. I'm the CEO & Owner of
            <a
              class="text-teal-500 transition group-hover:text-teal-500 dark:text-zinc-200"
              href="https://staticpop.com"
              target="_new">
              StaticP️op.
            </a>
            a portfolio of profitable small digital businesses I own & operate.
            I started this site to share everything I’ve learned. You can read
            more about me
            <a
              class="text-teal-500 transition group-hover:text-teal-500 dark:text-zinc-200"
              href="/about">
              here.
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 sm:mt-20 overflow-hidden">
  <div class="m-auto flex h-[30rem] max-w-screen-2xl justify-around py-4 px-10">
    <div
      class="relative aspect-video flex-none overflow-hidden  sm:w-96">
      <img
        alt=""
        sizes="(min-width: 800px) 18rem, 11rem"
        src="/assets/images/me-desk2.jpg"
        decoding="async"
        class="absolute inset-0 m-auto"
        loading="lazy"
        style="color: transparent" />
    </div>
    <div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden bg-zinc-100 dark:bg-zinc-800 sm:w-72">
      <img
        alt=""
        sizes="(min-width: 640px) 18rem, 11rem"
        src="/assets/images/me-in-wales.jpeg"
        decoding="async"
        data-nimg="future"
        class="absolute inset-0 h-full w-full object-cover"
        loading="lazy"
        style="color: transparent"
        width="2000"
        height="2000" />
    </div>
    <div
      class="relative aspect-video flex-none overflow-hidden  sm:w-96">
      <img
        alt=""
        sizes="(min-width: 640px) 18rem, 11rem"
        src="/assets/images/me-desk3.jpg"
        decoding="async"
        data-nimg="future"
        class="absolute inset-0 m-auto"
        loading="lazy"
        style="color: transparent"
        width="3000"
        height="2000" />
    </div>
    <div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden bg-zinc-100 dark:bg-zinc-800 sm:w-72">
      <img
        alt=""
        sizes="(min-width: 640px) 18rem, 11rem"
        src="/assets/images/seattle.jpg"
        decoding="async"
        data-nimg="future"
        class="absolute inset-0 h-full w-full object-cover"
        loading="lazy"
        style="color: transparent"
        width="1200"
        height="1200" />
    </div>
  </div>
</div>
<div class="mt-24 sm:px-8 md:mt-28">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div
          class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
          <div class="flex flex-col gap-6">

            <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
              I'm very committed to giving back to the community I so much love.
              Currently I'm available for business coaching, product strategy,
              speaking, mentoring, and angel investing. If interested, please
              feel free to reach out. {% include social_media_links.html %}
            </p>
          </div>
          <div class="space-y-10 lg:pl-16 xl:pl-24">
            {% include newsletter.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
