// Your custom settings file to override Foundation defaults
@import "settings"
// Comment out this import if you are customizing you imports below
@import "foundation"
@import "general_foundicons"
// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3"
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size"

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

@import "syntax_highlight"
@import url(http://fonts.googleapis.com/css?family=Droid+Serif)
@import url(http://fonts.googleapis.com/css?family=PT+Sans)

.bb
  border: 1px solid blue
.bg
  border: 1px solid green
.br
  border: 1px solid red

img.me
  width: 100px
  height: 100px
  +border-radius(50%)

.cell
  font-size: 1.3em
  margin: .5em 0

.capitalize
  text-transform: uppercase

.starry
  font-size: 1.35em
  line-height: 1.6em
  i
    font-size: .8em
    margin: 0 .5em -5px 0
    color: $borderColor

.paginator
  border-top: 1px solid $borderColor
  padding: 2em 0 0 0
  a
    +font-size(20)


input[type="text"]
  font-size: 18px

nav
  margin-top: 1em
  margin-bottom: 3em

  ul
    list-style: none
    li
      margin-left: 20px
      float: left
      list-style: none
      a
        color: #444 !important

h6
  line-height: 1.5em

article
  font-family: $headerFontFamily
  padding-bottom: 5em
  h2
    a
      color: #444
  h3,h4
    margin-top: 30px
  h5
    margin: 1em auto 1.8em

p
  font-size: 1.35em
  line-height: 1.6em

hr
  margin: 0

footer
  margin: 1em auto !important

section
  margin: 1em 0 3em 0
  +respondTo(smallScreen)
    margin: 0 0 0 0
  +respondTo(mediumScreen)
    margin: 0 0 1em 0

section.introduction
  +respondTo(smallScreen)
    margin: 0 0 1em 0
  +respondTo(mediumScreen)
    margin: 0 0 3em 0
  +respondTo(largeScreen)
    margin: 0 0 5em 0

  header
    h5
      line-height: 1.7em

section.socialize
  h5
    border-bottom: 1px dotted $borderColor
    padding-bottom: 0.8em

  .elsewhere
    padding-top: 4em
    +respondTo(smallScreen)
      padding-top: 2em
    +respondTo(mediumScreen)
      padding-top: 4em

    a
      +transition(color 0.25s ease-in)
      display: inline-block
      color: #444
      &:hover
        color: $mainColor
    span
      font-size: 5em
      +respondTo(smallScreen)
        font-size: 7em
      +respondTo(mediumScreen)
        font-size: 5em
      div
        font-size: 15px
        display: block

    .row
      .columns
        padding-bottom: 2em

section.explore
  h5
    border-top: 1px solid $borderColor
    padding-top: 2.4em
  ul
    li
      line-height: 1.5em
      float: none
      display: inline
      font-size: 1.5em
      margin: 0 5px
      &:after
        content: "  /"
      &:last-child:after
        content: ""

  input
    padding: 1em 0 1em 1.7em
    background: white url("/images/search.png") 0.5em 50% no-repeat

section.tags
  padding-bottom: 2em
