- article = @article if @article
- @body_class = 'articles'
.post
  .head
    %h2
      %a{:href => article.permalink}
        = article.title
      %span
        %a.dsq-comment-count.comment-link.commentslink{:href => "#{article.permalink}#disqus_thread"}
    .cl &nbsp;
  .body
    %p.with-border
      ~ article.body_html
  .post-separator &nbsp;
.post-bottom
