- @body_class = 'about'
- page_title 'About Me'
#content
  #content-top
    .about-me.rounded-top
      %p.first
        .me
          %img{:class => 'fade', :src => '/images/about-me.png', :style => 'background: url(images/about-me!.png)'}
        Hi, I'm Matt Sears. I'm a software developer
        %span.amp &
        entrepreneur in Ohio.

      %p My career spans over 10 years of building small and large scale web applications. My strengths lie not only in the software development and practices of today, but in understanding the complexities of how challenges emerged, and ways in which to manage those challenges in the rapid evolution of today's Web.
      %p
        I spend most of my days building awesome things at my company
        %a{:href => "http://littlelines.com", :rel => "external"} Littlelines,
        a distinguished web development and desgin firm.
      %p
        Check out more of our work
        %a{:href => "http://littlelines.com/work", :rel => "external"} here.

      %h3 Third-person perspective
      %p.first
        "In addition to delivering the code you want, Matt also contributes proactively to make your project even higher quality than you imagined. If you ever have a chance to work with him, you'll immediately notice how his professionalism and integrity sets him apart from other developers at any skill level."
      %em.right --Allen Hong, Sliqr.com
      %br/
      %p
        "Matt helped us build a brand new product from scratch. Matt was involved and engaged from the beginning. His (technical) input was extremely valuable for us since not all our product specs were crystal clear at the start. Matt is flexible and fast and thinks broader then just what he is expected to do. Highly recommended for agile development."
      %em.right --Rutger Geelen, MarkThisDate.com
      %br/
      %p
        "There's many good things I can say about Matt and Josh. You don't come accross a tandem like Littlelines very often. They did a great job from start to finish in a personable manner, thinking along and genuinly caring. I look forward to working with them again"
      %em.right --Dirk Stevens, Wondergraphs.com
      %br/
      %p
        Want more? Read
        %a{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external"} 28 more
        recommendations on my LinkedIn
        %a{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external"} profile

      %h3 About this Site
      %p.first
        I use this blog to share my ideas, share things that inspire me, and will hopefully inspire you. The content of this site is managed using an open-source project I wrote called
        %a{:href => "https://github.com/mattsears/aerial", :rel => "external"} Aerial.
        It's a easy, simple and I think it's pretty cool.
    .post-bottom

#sidebar
  .contact
    %h4 Contact
    %ul
      %li matt@mattsears.com
      %li +1.937.306.7383
  .elsewhere
    %h4 Connect
    %ul
      %li
        %a.small-ico-external{:href => "https://twitter.com/mattsears", :rel => "external"} Twitter
      %li
        %a.small-ico-external{:href => "http://www.facebook.com/mattsears.me", :rel => "external"} Facebook
      %li
        %a.small-ico-external{:href => "http://github.com/mattsears", :rel => "external"} Github
      %li
        %a.small-ico-external{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external"} LinkedIn
      %li
        %a.small-ico-external{:href => "https://plus.google.com/106286747861473847411", :rel => "external"} Google+
      %li
        %a.small-ico-external{:href => "http://forrst.me/mattsears", :rel => "external"} Forrst
      %li
        %a.small-ico-external{:href => "http://www.flickr.com/photos/matthewsears", :rel => "external"} Flickr
      %li.last
        %a.small-ico-external{:href => "http://mattsears.tumblr.com", :rel => "external"} Tumblr
  .badge
    %br
    %span{"data-id" => "sliqr-badge", "data-style" => "alt", "data-user" => "8c3a5c82aa70464cad04089e426012b0"}
    %script{:src => "http://embed.sliqr.com/all.js"}
