- page_title 'Hello'
.top-section
  #recent-articles
    .box.rounded-top
      %h3 Recent Articles
      -Aerial::Article.recent(:limit => 4).each do |article|
        .entry
          %h2
            %a{:href => "#{article.permalink}"}=article.title
          %p
            = blurb(article.body_html)
    .box-foot
  #splash
.bottom-section
  #hello
    %p
      .me
        %img{:src => '/images/me.png', :width => '90', :height => '90'}
      Hi! I'm Matt Sears, a software developer
      %span.amp &
      entrepreneur currently living in Ohio. My career spans over a decade of
      designing and developing software for the web. I specialize in Ruby
      development, but also enjoy learning new languages and technology.
    .cl &nbsp;

  #find-elsewhere
    %ul
      %li
        %a{:href => "http://git.io/sears", :rel => "external", 'original-title' => "Github"}
          %span.github
      %li
        %a{:href => "https://twitter.com/mattsears", :rel => "external", 'original-title' => "Twitter"}
          %span.twitter
      %li
        %a{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external", 'original-title' => "LinkedIn"}
          %span.linkedin
      %li
        %a{:href => "http://www.facebook.com/mattsears.me", :rel => "external", 'original-title' => "Facebook"}
          %span.facebook
      %li
        %a{:href => "http://forrst.me/mattsears", :rel => "external", 'original-title' => "Forrst"}
          %span.forrst
      %li.last
        %a{:href => "https://plus.google.com/106286747861473847411", :rel => "external", 'original-title' => "Google+"}
          %span.google

  .cl &nbsp;