#content
  #content-top
  #content-bg
    .post
      = partial :article
      .post-comments
        .bottom-border
          %a.comments{:href => "#"}
          %h3 Comments
          .cl &nbsp;
      = partial :comments
  #content-btm &nbsp;
=partial :sidebar

