<header class="pointer-events-none relative z-50 flex flex-col" style="height: 64px;">
  <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
    <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position:var(--header-inner-position)">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">

              <div class="flex flex-1 hidden md:block">
                <div class="h-20 w-20 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10"><a aria-label="Home" class="pointer-events-auto" href="/">
                  <img alt="" sizes="3.25rem" srcset="" src="/assets/images/me-profile.png" decoding="async" data-nimg="future" class=" object-cover " style="color: transparent;" width="512" height="512"></a></div>
              </div>
              <div class="flex flex-1 justify-center sm:justify-end">
                {% include navigation.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
