---
# This is the Front Matter block
---

@import "github_syntax_highlight";

.bb {
  border: 1px solid blue !important;
}

.post {

  a {
    color: #6366F1;
  }

  p {
    margin: 0 0 1em 0;
  }

  h4, h3 {
    font-weight: 800;
    margin: 1em 0;
  }

  .highlighter-rouge{
    margin-bottom: 1em;
  }

  code {
    font-size: 0.875rem;
    background-color: #f6f8fa;
  }

  pre {
    padding: 10px;
    line-height: 1.2rem;

    code {
      font-size: 0.875rem;
      span {
        margin: 0;
        padding: 0;
      }
    }

  }

  ol {
    margin: 0 0 2em 2em;
    list-style-type: decimal;

  }

  table {
    min-width: 100%;
    border-collapse: collapse;
    margin: 1em 0 1em 0;

    tr {
      border-bottom: 1px solid #E5E7EB;
      td {
        padding: 1em 1em 1em 0;
        white-space: nowrap;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
      }
    }
  }
}
