<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="text-gray-700 antialiased bg-white js-focus-visible">
    <div class=" max-w-screen-xl mx-auto overflow-hidden ">
      {% include navigation.html %}
      <div class="relative max-w-3xl py-16 bg-white overflow-hidden mx-auto">
        <div class="relative px-4 sm:px-6 lg:px-8">
          <div class="text-lg max-w-prose mx-auto">
            <h1 class="block text-center">
              <span class="text-base text-indigo-600  tracking-wide uppercase">Posted in </span>
              <span class="text-base text-indigo-600 font-bold tracking-wide uppercase">{{ page.categories }}</span>
              <span class="mt-4 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                {{ page.title }}
              </span>
            </h1>
            <h2 class="block text-center py-5">
              <span class="text-base text-center text-indigo-600 font-semibold tracking-wide">Matt Sears</span>
              <span class="text-base text-gray-800">|</span>
              <span class="text-base">{{ page.date | date: "%b %d, %Y" }} </span>
            </h2>
            <div class="post mt-8 text-lg leading-8">
              {{ content}}
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white">
        <div class="mx-auto border-t border-gray-400 py-12 px-4 max-w-2xl sm:px-6 lg:px-8 lg:py-10">
          <div class="space-y-12">
            <ul class="space-y-12 sm:divide-y sm:divide-gray-200 sm:space-y-0 sm:-mt-8 lg:gap-x-8 lg:space-y-0">
              <li class="sm:p-8 rounded-lg">
                <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
                  <!-- Image -->
                  <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                    <img class="object-cover shadow-lg rounded-lg" src="/assets/images/me.png" alt="">
                  </div>
                  <div class="sm:col-span-2">
                    <div class="space-y-4">
                      <div class="text-lg leading-6 font-medium space-y-1">
                        <h3>Matt Sears</h3>
                        <p class="text-indigo-600">Engineer / Business / Design</p>
                      </div>
                      <div class="text-lg">
                        <p class="text-gray-500">
                          Thank you for checking out my website.
                        </p>
                      </div>
                      <div class="flex space-x-3">
                        {% include social_media_links.html %}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
