---
layout: default
---

<div class="row">
  <div class="ten column centered">
    <article>
      <header class="text-center">
        <a href='/'>
          <img src='/images/matt-sears.png' title='Matt Sears' alt='Matt Sears' width='100' height='100' class="me">
        </a>
        <h2>
          <a href="{{ page.url }}">{{ page.title }}</a>
        </h2>
        <h5>
          Written by <a href="#">Matt</a> on {{ page.date | date: "%B %e, %Y" }}
          /
          <span>
            <a class='dsq-comment-count comment-link commentslink' href='http://www.mattsears.com/articles/2011/12/10/minitest-quick-reference#disqus_thread'></a>
          </span>
        </h5>
      </header>
      <div class="row">
        <div class="ten column centered">
          {{ content }}
        </div>
      </div>
    </article>

    <div class="ten column centered">
      <div id='disqus_thread'></div>
      <script type='text/javascript'>
        //<![CDATA[
          var disqus_developer = 1;
        //]]>
      </script>
      <script type='text/javascript'>
        //<![CDATA[
          var disqus_shortname = 'mattsears'
          var disqus_identifier = "{{ page.url }}";
          var disqus_url = "http://www.mattsears.com/{{ page.url }}";

          (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());

          // The following are highly recommended additional parameters. Remove the slashes in front to use.
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        //]]>

      </script>
      <noscript>
        Please enable JavaScript to view the
        <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a>
      </noscript>
    </div>

  </div>

</div>
