---
title: Hello
---

%section.introduction
  .row
    .large-7.columns.large-centered
      %header.text-center
        %a{href: '/'}
          %img{src: "/images/matt-sears.jpg", width: '200', height: '200', class: 'me' }/
        %h3
          Matt Sears
        %h5
          Creator / Speaker/ Founder & CEO of
          %a{:href => 'http://littlelines.com', :rel => 'external'}
            Littlelines.
