---
title: Hello
---

%section.introduction
  .row
    .seven.columns.centered
      %header.text-center
        %a{href: '/'}
          %img{src: "/images/matt-sears.jpg", width: '200', height: '200', class: 'me' }/
        %h3
          Matt Sears
        %h5
          Creator / Speaker/ Founder & CEO of
          %a{:href => 'http://littlelines.com', :rel => 'external'}
            Littlelines.

%section.socialize
  .row.elsewhere
    .six.columns.centered
      .row
        .three.columns.text-center
          %a{:href => "https://twitter.com/mattsears", :rel => "external"}
            %span.ss-social-circle.ss-twitter
              %div Twitter
        .three.columns.text-center
          %a{:href => "http://www.facebook.com/mattsears.me", :rel => "external"}
            %span.ss-social-circle.ss-facebook
              %div Facebook
        .three.columns.text-center
          %a{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external"}
            %span.ss-social-circle.ss-linkedin
              %div LinkedIn
        .three.columns.text-center.end
          %a{:href => "http://git.io/sears", :rel => "external"}
            %span.ss-social-circle.ss-octocat
              %div Github
