---
per_page: 20
title: Tags
---

%section.tags
  .row
    .ten.column.centered
      .row
        .three.column.centered.text-center
          %a{:href => "/"}
            %img.me{:alt => "Matt Sears", :height => "100", :src => "/images/matt-sears.png", :title => "Matt Sears", :width => "100"}
      %br/
      .row
        .seven.columns.centered.text-center
          %h4
            Here some articles I wrote about on
          %hr/
      %br/
      - page_articles.each do |article|
        .row
          .seven.columns.centered.starry
            %i.foundicon-heart
            %a{:href => article.url }
              = article.title

